.navbar{
    background-color: rgb(10,25,41);
    height:50px;
    width:100%;
    display:flex;
    align-items: center;
}
.navbar-toggler{
    background-color:#0E0C5D;
    border-style: solid;
    border-width: thin;
    border-color:#FCFCFD ;
    border-radius:5px;
    margin:1%
}.user-control {
    margin-left: auto;
    display:flex;
    align-items: center;
}