.body {
    /* display:inline-block; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#label {
    font-size: 20px;
    font-family:'SimSun';
}

#content {
    width: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-Time{
    text-align: center;
    width:10%;
}

#article-data{
    width:90%;
}

.MuiList-root {
    width:100%
}

.illustration {
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
}
.BlogLink {
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
}

.item{
    padding: 10px 20px;
    cursor: pointer;
    color:#1c80e4;
    text-decoration:none;
}

.emptyList-wrap {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}