.share-header {
    width:100%;
    background-color: #E2FBFB;
    display:flex;
    justify-content:center;
    height: 80px;
    align-items: center;
    white-space: nowrap;
    width:100%;
}

.start{ width: 30% ;
    text-align:center;
    font-size: 1cm;
    font-family: Monospace;
}