.page {
    width:100%;
}
.SearchPage {
    text-align:center;
    width:100%;
}
.emptyList-wrap {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#SearchBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Searchbar {
    padding:1%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#box {
    width:400px
}

#searchinput {
    border:0;
    outline:0;
    margin-left:5%;
    width:80%;
    font-size: 18px;
}

#searchPaper {
    width:100%;
    display:flex;
    flex-direction: row;
}
#searchForm {
    width:100%;
    display:flex;
    flex-direction: row;
}

.listitem{
    cursor: pointer;
    color:#000000;
    text-decoration:none;
}

.article-list {
    width:50%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#noResult {
    font-size: 20px;
    font-family: Monospace;
}

#sensor {
    width:10px;
    height: 10px;
}