.CreateField {
    width:100%
}
.box {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.paper {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    display:flex;
    flex-direction: column;
}
.inputitem{
    display:flex;
    justify-content: right;
    align-items: center;
}
.contentInput{
    display:flex;
    flex-direction: column;
}
#select-required{
    width: 215.63px;
}
#content-required{
    width: 100%;
}
.createbutton{
    padding:2%;
    display:flex;
    justify-content: right;
    align-items: center;
}
.category-select{
    width: 215.56;
    height:40;
}
